.navBar {
    padding: 10px;
    text-align: center;
    background: #DADADA;
}

.navItem {
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline-block;
    color: black;
}

.button {
    border-radius: 40%;
    padding: 6px 7px;
    border: 1px solid black;
    outline: none;
}
.isSubmit {
    background: lightgreen;
    position: fixed;
    top: 45px;
    right: 3rem;
}
.isCancel {
    background: lightcoral;
    position: fixed;
    padding-right: 7.5px;
    padding-left: 7.5px;
    top: 45px;
    right: 1rem;
}
.isEdit {
    background: lightblue;
    position: fixed;
    top: 45px;
    right: 1rem;
}

.rightAlign {
    text-align: right;
}

.login {
    position: fixed;
    top: .5rem;
    right: 1rem;
}
